/*This CSS*/
.board {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.board.create {
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
}


.board-icons .bi-info-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.board-icons .bi-trash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}