.workspace-delete-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1060px;
    height: 400px;
}

.workspace-delete-container h2 {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
}

.delete-content {
    text-align: center;
}

.delete-content h3 {
    font-size: 24px;
    font-weight: bold;
}

.delete-content p {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
}

.delete-content .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.button-group .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.button-group .btn-danger:hover, .button-group .btn-danger:focus {
    background-color: #c82333;
    border-color: #bd2130;
}

.button-group .btn-primary:hover, .button-group .btn-primary:focus {
    background-color: #0069d9;
    border-color: #0062cc;
}
